body {
  margin: 0;
  padding: 1em;
  background-color: darkgray;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

/**
* Create a position for the map
* on the page */
#map {
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  margin: auto;
  margin-top: 2em;
  width: 80em;
  height: 40em;
}

#map2 {
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  margin: auto;
  margin-top: 2em;
  width: 80em;
  height: 40em;
}

#map3 {
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  margin: auto;
  margin-top: .5em;
  width: 40em;
  height: 20em;
}

#map4 {
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  margin: auto;
  margin-top: .5em;
  width: 40em;
  height: 20em;
}

#map5 {
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  margin: auto;
  margin-top: .5em;
  width: 40em;
  height: 20em;
}

#map6 {
  /*position: absolute;
  top: 0;
  bottom: 0;*/
  margin: auto;
  margin-top: .5em;
  width: 40em;
  height: 20em;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}
