body {
  margin: 0;
  padding: 1em 1em 0 1em;
  background-color: darkgray;
}

#title {
  width: 100%;
  text-align: center;
}

.text {
  width: 100%;
  text-align: center;
  padding: 2em;
}

.text * {
  margin: auto;
  max-width: 60em;
}

.map-large {
  margin: auto;
  width: 80em;
  height: 40em;
}

.map-small {
  margin: auto;
  margin-top: .5em;
  width: 40em;
  height: 20em;
}

#tweets-histogram-div {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 40em;
  height: 30em;
}

#attribution {
  text-align: left;
}
