body {
  margin: 0;
  padding: 1em 1em 0.5em 1em;
  background-color: rgb(31,32,35);
}

h1, p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(149,164,181);
  letter-spacing: .1em;
}

#title {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: 0.5em;
}

p {
  font-size: 1.3em;
}

.text {
  width: 100%;
  text-align: center;
  padding: 2em 2em 2em .75em;
}

.text * {
  margin: auto;
  text-align: left;
  max-width: 36em;
  line-height: 1.8em;
}

.series-header {
  padding: 0;
  padding-left: 5em;
  font-size: .8em;
  text-align: center;
}

#descr1 {
  margin-bottom: 1em;
}

#descr2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.map-large {
  margin: auto;
  width: 80em;
  height: 40em;
}

.map-small {
  margin: auto;
  margin-top: .5em;
  width: 40em;
  height: 20em;
}

#tweets-histogram-div {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0;
  width: 40em;
  height: 27em;
}

#attribution {
  text-align: left;
  line-height: 1.8em;
  font-size: .8em;
  text-align: center;
  margin-top: 10em;
}

#attribution > * {
  max-width: 70em;
  margin: auto;
}
